body {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
  
}


.navbar{
  background-color: gray;
}
.sidebar-heading{
  background-color: gray;
}
.list-group-item{
  background-color: gray;
  color: white;
}
.border-right{
  background-color: gray;
}



#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

  

.murder{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(0%,100%);
}
.rape{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(110%,0%);
}
.hijack{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(0%,30%);
}
.kidnap{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(220%,-200%);
}
.attack{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(110%,-170%);
}
.robberies{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(0%,-270%);
}
.heists{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(220%,-370%);
}
.taxi{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(110%,-170%);
}
.gang{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(0%,-270%);
}
.xenophobia{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
    text-align: center;
    font: 3em monospace;
    transform: translate(220%,-370%);
}
.theft{
    border: 2px ;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    width: 500px;
    height: 100px;
    color: azure;
}
.rape{
    border: 2px;
    border-style: solid;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    border-width: 25px;
    color: azure;
    width: 500px;
    height: 100px;
}
tr{
  font-size: 30px;
  font-weight: bold;
  font-weight: bold;
}
h3
{
  font-size: 20px;
  font-weight: bold;}
h4{
  font-size: 35px;
  font-weight: bold;
}

